<section class="featured-section">
  <div class="row pt-4">
    {{#get "posts" filter="featured:true" limit="3"}}
    {{#if posts}}

    {{!-- Main featured --}}
    {{#foreach posts}}
    {{#if @first}}
    <div class="col-md-8 col-xs-12 pull-left col_no_padding mb-3">
      <a href="{{url}}">
        <img class="featured__image" src="{{img_url feature_image}}" alt={{title}} />
      </a>
    </div>
    {{/if}}
    {{/foreach}}

    {{!-- Secondary featured --}}
    <div class="col-md-4 col-xs-12 pull-left col_no_padding">
      <div class="row">
        {{#foreach posts}}
        {{#if @index}}
        <div class="col-6 col-md-12 mb-3">
          <a href="{{url}}">
            <img class="featured__image" src="{{img_url feature_image}}" alt={{title}} />
          </a>
        </div>

        {{/if}}
        {{/foreach}}
      </div>
    </div>

    {{/if}}
    {{/get}}
  </div>
</section>